@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+DE+Grund:wght@100..400&display=swap');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: rgb(247, 247, 247);
  min-height: 100vh;
  padding: 20px;
}


.container h1 {
  color: #0b0d1d; /* Cambia el color del texto */
  font-size: 4rem; /* Ajusta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  /*+ font-weight: bold; Ajusta el peso de la fuente */
  font-family: "Playwrite CU", cursive; /* Cambia la fuente */
}

.container h2 {
  color: #0b0d1d; /* Cambia el color del texto */
  font-size: 2.5rem; /* Ajusta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  /* font-weight: bold; Ajusta el peso de la fuente */
  font-family: "Playwrite CU", cursive; /* Cambia la fuente */
}
.container h3 {
  color: #0b0d1d; /* Cambia el color del texto */
  font-size: 2rem; /* Ajusta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  /* font-weight: bold; Ajusta el peso de la fuente */
  font-family: "Playwrite CU", cursive; /* Cambia la fuente */
}

.container h4 {
  color: #0b0d1d; /* Cambia el color del texto */
  font-size: 2.1rem; /* Ajusta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  font-weight: bold; 
  font-family: "Playwrite DE Grund"; /* Cambia la fuente */

}

.wedding-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  font-family:'Playwrite DE Grund';
}

.card {
  position: relative;
  overflow: hidden;
}



/* En tu archivo App.css o un archivo CSS relacionado */
.custom-card {
  background-color: #fcf8d3; /* Color de fondo beige, por ejemplo */
  font-family: 'Arial', sans-serif; /* Cambia el tipo de letra */
  color: #333; /* Color del texto */
}

.custom-card-title {
  font-family: 'Playwrite DE Grund', serif; /* Cambia el tipo de letra solo para el título */
  font-size: 27px;
  color: #2c3e50;
}

.custom-card-text {
  font-family: 'Mukta'; /* Cambia el tipo de letra solo para el texto */
  font-size: 22px;
  color: #34495e;
}



.card-img-top {
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
  padding: 20px;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 4rem;
  font-family: Verdana;;
  font-weight: bold;
  color: #fff;
}

.label {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #ddd;
}

.custom-title {
  font-size: 24px;
  font-family: "Playpen Sans", sans-serif;
  color: #1b0f17; /* Ejemplo de un color */
  text-align: center;
  /* font-weight: bold; */
}

.card-fotos {
  background-color: rgb(244, 244, 197); 
  border-radius: 8px; 
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.card-fotos img {
  width: 150px; 
  border: 2px solid rgb(246, 235, 235); 
  border-radius: 8px; 
  margin-bottom: 16px; 
}

h5 {
  font-size: 1.3rem; 
  font-family: 'Playwrite DE Grund', serif;
  font-weight: bold ;
  color: #1b0f17; 
  margin-bottom: 16px; 
}

p {
  font-size: 1.1rem; 
  font-family: 'Playwrite DE Grund', serif;
  color: #1b0f17; 
  margin-bottom: 16px; 
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
  
}

h1 {
  animation: blink 2s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #e1d998, 0 0 10px #f1e1a2, 0 0 15px rgb(251, 141, 214), 0 0 20px rgb(233, 135, 187);
  }
  100% {
    text-shadow: 0 0 10px #f0f07f, 0 0 20px rgb(240, 159, 209), 0 0 30px rgb(250, 155, 207), 0 0 40px rgb(235, 142, 184);
  }
}

h2 {
  animation: glow 2s infinite;

}
.parallax {
  /* background-image: url('./img/fondo.gif'); */
  background-color: rgb(182, 180, 180);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-animate {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.btn-animate:hover {
  background-color: #218838;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.btn-animate1 {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background-color: #96cef3;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.btn-animate1:hover {
  background-color: #aaa834;
  box-shadow: 0 0 15px rgba(225, 107, 174, 0.2);
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1.5);
    opacity: 0;
  }
}

.note {
  position: absolute;
  font-size: 20px;
  color: #ff69b4;
  animation: float 3s infinite;
  opacity: 0;
}

.note:nth-child(1) {
  left: 10%;
  animation-delay: 0.5s;
}

.note:nth-child(2) {
  left: 30%;
  animation-delay: 1s;
}

.note:nth-child(3) {
  left: 50%;
  animation-delay: 1.5s;
}

.note:nth-child(4) {
  left: 70%;
  animation-delay: 2s;
}

.note:nth-child(5) {
  left: 90%;
  animation-delay: 2.5s;
}


